<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @thing_with_error.name %>
</p>


<%= link_to 'Edit', edit_thing_with_error_path(@thing_with_error) %> |
<%= link_to 'Back', thing_with_errors_path %>
